body { font-family:"Droid Sans Mono",Helvetica, Arial, sans-serif;}
h1,h2,h3,h4,h5{margin: 0px 2px 0px 2px;color: black;}
h2{font-family: 'EB Garamond',Georgia,Times, serif;}
p{margin: 3px;color: black;}

a:link {color: black; text-decoration: none;}
a:hover {
    color: hotpink; text-decoration: none;;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    
    border: 1px solid #ccc;
    border-top: none;
}
table{
	
	border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

thead {
	font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
#loading{
    height:25px;}
 #container{
    font-size: small;
 }           
.line { 
stroke: steelblue;
stroke-width: 0.6;
fill: none;
}
.strategy{
	stroke-width: 2;
}
.label{
font-size: smaller;
}
#overview, #clusterbrowser,#comfortcomparison,#clustersummary{
	border: 1px solid grey;
	margin: 10;
}
h3{
	display: inline-block;
}
.svgScaleBar{
	position: absolute;
	top:40px;
	z-index 10;
}
#header{
position: fixed;
	top: 0;
	width: 50%;
	
	z-index: 1;
	
}
.floatText{
	width: 100%;
	position: absolute;
}
.menuText{
	position: absolute;
	
}
.menuTextCentre{

}
.menuTextCentre > h4{
	text-align: center;
}
.menuTextRight{
	
}
.menuTextRight > h4{
	text-align: right;
}
#container{
	margin: auto;
	width: 70%;

}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
}
#refs p{
	font-size: smaller;
	
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
	overflow-y: auto;
	background-color: #ebf6f9;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; position: relative;}
.span_2_of_3 { width: 66.33%; position: relative;}
.span_1_of_3 { width: 32.66%; position: relative;}
/*  GRID OF FIVE  */
.span_5_of_5 {width: 100%;position: relative;}
.span_4_of_5 {width: 79.8%;position: relative;}
.span_3_of_5 {width: 59.6%;position: relative;}
.span_2_of_5 {	width: 39.4%;position: relative;}
.span_1_of_5 {	width: 19.2%;position: relative;}

/*  GO FULL WIDTH BELOW XX0 PIXELS */
@media only screen and (max-width: 750px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
	#container{width: 100%;}
	.menuTextCentre, .menuTextRight{position: absolute;}
	.menuTextRight > h4{
		text-align: left;
	}
	.menuTextCentre > h4{
		text-align: left;
	}

}


